body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Helvetica Neue Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

#main {
  background: url(../images/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;        
}

ul#contact {
    list-style-type: none;
    margin-top: 50px;
}

ul#contact i {
    display: inline-block;
    width: 25px;
    color: gray;
    text-align: center;
}

ul#contact a, ul#contact a:visited{
    text-decoration: none;
    color: black;
}

#partners {
  width: 300px;
}

    #partners ul {
        list-style-type: none;
    }

        #partners ul li {
            margin-bottom: 10px;
        }

#about {
  width: 400px;
  float: right;
}

.layout-box {
    margin: 20px;
    padding: 15px;
    background: white;
    opacity: 0.8;
}

  .layout-box article {
      padding: 0 15px 0 15px;
  }

.keep-background {
	width: 100%;
	overflow: hidden;
}

.keep-background:after {
	content: "";
	display: table;
	clear: both;
}

footer {
    text-align: center;
    padding-top: 20px;
    color: gray;
}

@media handheld, only screen and (max-width: 767px) {  
  #partners {
    width: 100%;
  }

  #about {
    width: 100%;
  }
}