#main {
  background: url(../images/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;        
}

ul#contact {
    list-style-type: none;
    margin-top: 50px;
}

ul#contact i {
    display: inline-block;
    width: 25px;
    color: gray;
    text-align: center;
}

ul#contact a, ul#contact a:visited{
    text-decoration: none;
    color: black;
}

#partners {
    background: white;
    margin-bottom: 30px;
    opacity: 0.8;
}

    #partners ul {
        list-style-type: none;
    }

        #partners ul li {
            margin-bottom: 10px;
        }

.layout-box {
    padding: 0 15px 0 15px;
}

footer {
    text-align: center;
    padding-top: 20px;
    color: gray;
}